<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <!-- Bulma e custom css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="./src/template/Login/style.css" />

    <!-- Google Fonts' -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="is-flex is-flex-direction-row">
    <div class="left-side is-flex-grow-1 hero is-fullheight"></div>
    <div class="is-flex is-justify-content-center is-align-items-center right-side is-flex-grow-1">
      <div class="box">
        <h1 class="title is-size-3 has-text-weight-bold has-text-black has-text-centered">Logar</h1>
        <div class="mt-5'">
          {{area_dinamica}}
        <h3 class="is-size-6 has-text-centered mt-6">Esqueceu sua senha? <a>Clique aqui!</a></h3>
        <h3 class="is-size-6 has-text-centered">Não tem cadastro? <a>Cadastre-se</a></h3>
      </div>
    </div>
  </body>
</html>
