<form method="POST" action="?pagina=registro&metodo=insert">
    <label class="label">Login:</label>
    <input class="input" name="nome" type="text" placeholder="Ex.: Alice" />
  </div>
  <div class="mt-5">
    <label class="label">Email:</label>
    <input class="input" name="email" type="email" placeholder="ex.: nome@algumacoisa.com" />
  </div>
  <div class="mt-5">
    <label class="label">Senha:</label>
    <input class="input" name="senha" type="password" placeholder="*****" />
  </div>
  <div class="mt-2">
    <label class="label">Repita sua senha:</label>
    <input class="input" name="senhaconf" type="password" placeholder="*****" />
  </div>
  <input  class="button is-fullwidth mt-5" type="submit" name="acao" value="Registrar" />

</form>